*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url("../img/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::selection{
    background: rgba(68, 71, 90, 0.5);
    border-top-left-radius: 5px;
}

html{
    scroll-behavior: smooth;
}

