
#menu{
    position: sticky;
    display: flex;
    height: 10vh;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 1% 0;
    z-index: 2;
    transition: 0.4s;
    top:0;
}



.item-menu > a{
    text-decoration: none;
    color: #f8f8f2;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    transition: 0.4s;
}

.item-menu > a:hover{
    color: #7d5fff;
}
